{% extends "base.html" %}

{% block stylesheets %}
<style>
  .setup-complete::before, .setup-incomplete::before, .setup-unknown::before {
      position: absolute;
      left: 10px;
      font-size: 24px;
      line-height: 1;
  }

  .setup-incomplete::before {
    content: '✗';
    color: rgb(244, 67, 54);
  }

  .setup-complete::before {
    content: '✓';
    color: rgb(76, 175, 80);
  }

  .setup-unknown::before {
    content: '?';
    color: rgb(255, 193, 7);
  }
</style>
{% endblock %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Курс</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 offset-md-1">
      <div class="nav flex-column nav-pills" role="tablist">
        <a class="nav-link active" id="course-syllabus-tab" data-toggle="pill" href="#syllabus" role="tab">Программа</a>
        {% if user %}
          {% if dojo.course.scripts and dojo.course.scripts.grade %}
          <a class="nav-link" id="course-grades-tab" data-toggle="pill" href="#grades" role="tab">Оценки</a>
          {% endif %}
          <a class="nav-link" id="course-identity-tab" data-toggle="pill" href="#identity" role="tab">Идентификация</a>
          <a class="nav-link" id="course-setup-tab" data-toggle="pill" href="#setup" role="tab">Настройка</a>
        {% endif %}
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="syllabus" role="tabpanel">
          {% if dojo.course.syllabus %}
            {{ dojo.course.syllabus | markdown }}
          {% endif %}
        </div>

        {% if user %}
          {% if dojo.course.scripts and dojo.course.scripts.grade %}
          <div class="tab-pane fade show" id="grades" role="tabpanel">
            <p>Загрузка...</p>
          </div>
          {% endif %}

          <div class="tab-pane fade" id="identity" role="tabpanel">
            <form method="post" id="identity-form" autocomplete="off">
              <div class="form-group">
                <b><label for="enter-name">{{ identity.name }}</label></b>
                <small class="form-text text-muted">Эти данные будут показаны администраторам курса.</small>
                <br>
                <input class="form-control" id="identity" name="identity" type="text" value="{{ identity.value or '' }}">
              </div>

              <div id="identity-results" class="form-group">
              </div>

              <div class="form-group text-right">
                <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Update">
              </div>
            </form>
          </div>
        {% endif %}
        <div class="tab-pane fade" id="setup" role="tabpanel">
          <ol>
            <li class="setup-{{ setup.create_account }}">Создать аккаунт можно <a href="/register">здесь</a>. Ваше имя пользователя <strong>будет видно всем</strong>: если вы хотите зарегистрироваться анонимно, не используйте своё настоящее имя.</li>
            <li class="setup-{{ setup.link_student }}">Свяжите свой аккаунт с {{ identity.name }} <a href="identity">здесь</a>. Так мы сможем отслеживать вашу успеваемость и понимать связь между вашим аккаунтом в {{ identity.name }} и аккаунтом на CTFd.</li>
          </ol>
          {% if setup_complete %}
            <p>Настройка завершена!</p>
          {% else %}
            <p>Настройка не завершена.</p>
          {% endif %}
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/course.js') }}"></script>
<script defer src="{{ url_for('views.themes', path='js/dojo/grades.js') }}"></script>
{% if dojo.course.scripts and dojo.course.scripts.grade %}
<script>
  document.addEventListener("DOMContentLoaded", () => loadGrades("#grades"));
</script>
{% endif %}
{% endblock %}
