{% extends "base.html" %}
{% from "macros/widgets.html" import card %}
{% from "macros/widgets.html" import dojo_grid %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="brand-mono-bold wordmark-large"><span class="brand-white">infosec</span><span class="brand-dot brand-blink">.</span><span class="brand-green">dojos</span></h1>
  </div>
</div>

<div class="container">
  <p>Материал на нашей платформе разбит на курсы: на pwn.college они называются "додзё", здесь это просто курсы.
    Курсы состоят из модулей, которые в свою очередь состоят из задач.
  <b>.</b>
  You can, of course, jump around, but keep in mind that each dojo expects you to know everything taught by the previous ones.

  <p><br><br>
  <h2>Научитесь основам!</h2>
  Эти курсы направлены на знакомство с основами информационной безопасности. Мы советуем пройти их, если вы только начинаете свой путь.

  {{ dojo_grid(categorized_dojos["welcome"], dojo_container_counts) }}

  <p>После того как вы справитесь с курсами выше, можно переходить к основному материалу!

  <p><br><br>
  <h2>Основной материал</h2>

  <p>Эти курсы охватывают широкий спектр тем, от криптографии и теоретической ИБ до смарт-контрактов и бинарной эксплуатации.
  Вы можете проходить куры в том порядке, в котором вам будет комфортно, однако мы рекомендуем идти по порядку.

  {{ dojo_grid(categorized_dojos["topic"], dojo_container_counts) }}

  <p id="community-dojos"><br><br>
  <h2>Курсы от сообщества</h2>

  <p>Вне зависимости от того, сколько знаний мы сможем вам передать, всегда будет что-то ещё.
  В этой секции находятся курсы, созданные теми, кто учился в сборной и хочет поделиться частью своих знаний с вами.
  Учитывайте, что порог вхождения в эти курсы может быть выше, чем в курсы основного материала &mdash; - они могут рассказывать об узкоспециализированных темах.

  Все необходимые знания для прохождения курса указываются в описании в обязательном порядке.

  {{ dojo_grid(categorized_dojos["public"], dojo_container_counts) }}

  {% if authed() %}
  <p><br><br>
  <h2>Ваши курсы</h2>
  <p>Вы можете создавать собственные курсы. На нашей платформе отключена возможность создавать приватные курсы, поэтому те, что вы создадите, будут видны только вам &mdash; если, конечно же, вы не вынесете их в раздел "Курсы от сообщества".

  {{ dojo_grid(categorized_dojos["admin"], dojo_container_counts, create_icon=True) }}

  <p>Хотите создать свой курс? <a href="/dojos/create"><b>Сделайте это здесь</b></a>!

  {% endif %}

</div>
{% endblock %}

{% block scripts %}
{% endblock %}
