{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Dojo Activity</h1>
    </div>
</div>
<div class="container">
    <h2>Активные задачи</h2>
    {% if actives %}
    <table class="table">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Задача</th>
                <th>Аптайм</th>
            </tr>
        </thead>
        <tbody>
            {% for active in actives %}
            <tr>
                <td><a href="{{ generate_account_url(active.user.id, admin=True) }}">{{ active.user.name }}</a></td>
                <td>{{ active.challenge.module.name }} - {{ active.challenge.name}}</td>
                <td>{{ active.uptime.days }}d {{ active.uptime.seconds // 3600 }}ч {{ (active.uptime.seconds // 60) % 60 }}м</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Сейчас нет активных задач.</p>
    {% endif %}
</div>
{% endblock %}
