{% extends "base.html" %}
{% from "macros/widgets.html" import card %}
{% from "macros/widgets.html" import dojo_grid %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="brand-mono-bold wordmark-large"><span class="brand-white">infosec</span><span class="brand-dot brand-blink">.</span><span class="brand-green">moscow</span></h1>
    <br>
    <h2 class="brand-white">Научись информационной безопасности!</h2>
  </div>
</div>

<div class="container">
  <p>Вы находитесь на платформе infosec.moscow, которая содержит большое количество задач для обучения информационной безопасности.
  Мы работаем на инфраструктуре DOJO, разработанной командой <a href="https://pwn.college">pwn.college</a> из Университета Аризоны (ASU) (огромное спасибо им за это!).
  Оригинальная платформа построена вокруг концепта японских додзё и <a href="#">поясов</a> <img src="/belt/orange.svg" style="height: 1em; vertical-align: middle;"><img src="/belt/yellow.svg" style="height: 1em; vertical-align: middle;"><img src="/belt/green.svg" style="height: 1em; vertical-align: middle;"><img src="/belt/blue.svg" style="height: 1em; vertical-align: middle;">, но мы не используем их на нашей платформе. По крайней мере, пока.

  <p>Наслаждайтесь задачами!
  У нас есть несколько публично доступных задач, но основная коллекция доступна школьникам, которые занимаются в сборной Москвы по подготовке к ВсОШ по ИБ. Приходите к нам учиться (если вы школьник) или преподавать (если вы уже смешарик)! Информацию о наборах для школьников публикуем на нашем сайте <a href="https://infosec.moscow">infosec.moscow</a>, а по поводу преподавания можно писать в Telegram <a href="https://t.me/justmarfix">вот сюда</a>. Вопросы по задачам и работе платформы можно писать в тот же Telegram. Все остальные вопросы принимаются на почту <a href="mailto:trainers@infosec.moscow">trainers@infosec.moscow</a>!


  <p><br>
  <h2>Правила</h2>
  <p>Важно отметить, что все задачи, созданные для infosec.moscow, сделаны исключительно в образовательных целях. Мы верим, что эффективное образование в ИБ должно содержать много практических заданий, и даём всем желающим возможность их решать.
  Мы просим не пытаться взломать нашу инфраструктуру дальше того, что задумано заданием (в т.ч. пытаться совершить побег из контейнера, DoS нашей инфраструктуры, etc).

  Задачи, используемые в публичной части сайта, обычно не используются для оценки учащихся сборной &mdash; поэтому вы можете публиковать решения для них.
  Для задач из закрытой части сайта мы просим <b>не публиковать разборы</b> &mdash; они используются в учебном процессе и все студенты должны решить их самостоятельно.

  <div id="agreement-section" class="text-center mt-4 mb-4">
    <p>Пожалуйста, согласитесь с этими правилами, прежде чем решать задачи!<br>
    <button id="agree-button" class="btn btn-success btn-lg">Я согласен с правилами</button>
  </div>

  <div id="content-after-rules" style="display: none;">


  <p><br>
  <h2>Что делать дальше</h2>

  <p>Мы находимся в процессе наполнения платформы задачами и формирования программы обучения. Если вы начинающий, рекомендуем пройти курс от крутых разработчиков из команды [team Team] &mdash; <a href="https://course.ugractf.ru">course.ugractf.ru</a>. Он отлично подходит для новичков и поможет вам освоить базовые навыки.

    Для тех, кто уже погружён в мир ИБ, мы предлагаем следующие курсы:

  {{ dojo_grid(categorized_dojos["next"], dojo_container_counts) }}

  <h3>Задачи от сообщества</h3>

  <p>Ребята, которые прошли через наши занятия, часто пишут свои собственные задачи. Их можно найти <a href="/dojos#community-dojos">здесь</a>.

{% endblock %}

{% block scripts %}
<style>
p { text-align: justify; }
</style>

<script>
document.getElementById('agree-button').addEventListener('click', function() {
  document.getElementById('content-after-rules').style.display = 'block';
  document.getElementById('agreement-section').style.display = 'none';
  
  // Store agreement in localStorage
  localStorage.setItem('agreedToRules', 'true');
});

// Check if user already agreed
if (localStorage.getItem('agreedToRules') === 'true') {
  document.getElementById('content-after-rules').style.display = 'block';
  document.getElementById('agreement-section').style.display = 'none';
}
</script>
{% endblock %}
