{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Настройки</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 offset-md-1">
      <div class="nav flex-column nav-pills" role="tablist">
        <a class="nav-link active" id="settings-profile-tab" data-toggle="pill" href="#profile" role="tab">Профиль</a>
        <a class="nav-link" id="settings-ssh-key-tab" data-toggle="pill" href="#ssh-key" role="tab">SSH-ключ</a>
	      <a class="nav-link" id="settings-tokens-tab" data-toggle="pill" href="#tokens" role="tab">Токены доступа</a>
        <a class="nav-link" id="settings-reset-home-tab" data-toggle="pill" href="#reset-home" role="tab">Сброс данных</a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="profile" role="tabpanel">
          {% include "components/errors.html" %}

          {% with form = Forms.self.SettingsForm(country=user.country) %}
          {% from "macros/forms.html" import render_extra_fields %}
          <form id="user-profile-form" method="post" accept-charset="utf-8" autocomplete="off" role="form"
                class="form-horizontal">
            <div class="form-group">
              <b>{{ form.name.label }}</b>
              {{ form.name(class="form-control", value=user.name) }}
            </div>
            <div class="form-group">
              <b>{{ form.email.label }}</b>
              {{ form.email(class="form-control", value=user.email) }}
            </div>

            <hr>

            <div class="form-group">
              <b>{{ form.confirm.label }}</b>
              {{ form.confirm(class="form-control") }}
            </div>
            <div class="form-group">
              <b>{{ form.password.label }}</b>
              {{ form.password(class="form-control") }}
            </div>

            <hr>

            <div class="form-group">
              <b>{{ form.affiliation.label }}</b>
              {{ form.affiliation(class="form-control", value=user.affiliation or "") }}
            </div>
            <div class="form-group">
              <b>{{ form.website.label }}</b>
              {{ form.website(class="form-control", value=user.website or "") }}
            </div>
            <div class="form-group">
              <b>{{ form.country.label }}</b>
              {{ form.country(class="form-control custom-select", value=user.country) }}
            </div>
            <div class="form-group">
              <b><label for="hidden">Visibility</label></b>
              <select class="form-control custom-select" id="hidden" name="hidden" value="{{ user.hidden }}">
                <option value="False" {{ "selected" if not user.hidden else "" }}>Visible</option>
                <option value="True" {{ "selected" if user.hidden else "" }}>Hidden</option>
              </select>
            </div>

	    {{ render_extra_fields(form.extra) }}

            <div id="results" class="form-group">
            </div>

            <div class="form-group">
              {{ form.submit(class="btn btn-md btn-primary float-right") }}
            </div>
          </form>
          {% endwith %}
        </div>

        <div class="tab-pane fade" id="ssh-key" role="tabpanel">

          {% if ssh_keys %}
            <b><label for="enter-name">Текущие SSH-ключи</label></b>
            <br>

            {% for key in ssh_keys %}
            <form method="post" id="delete-ssh-key-{{ loop.index }}-form" autocomplete="off">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" id="ssh-key" name="ssh_key" type="text" value="{{ key }}" readonly>
                        <div class="input-group-append ml-1" style="margin: -0.1rem">
                            <button type="submit" class="btn btn-danger" id="delete-ssh-key-button-{{ loop.index }}">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div id="delete-ssh-key-{{ loop.index }}-results" class="form-group">
                </div>
            </form>

            <script>
              document.addEventListener('DOMContentLoaded', function() {
                form_fetch_and_show("delete-ssh-key-{{ loop.index }}", "/pwncollege_api/v1/ssh_key", "DELETE", "Your public key has been deleted");
              });
            </script>
            {% endfor %}
            <br>
          {% endif %}

          <form method="post" id="ssh-key-form" autocomplete="off">
            <div class="form-group">
              <b><label for="enter-name">Добавить новый ключ</label></b>
              <small class="form-text text-muted">Необходимо для подключения к задаче по SSH</small>
              <br>
              <input class="form-control" id="ssh-key" name="ssh_key" type="text" value="">
            </div>

            <div id="ssh-key-results" class="form-group">
            </div>

            <div class="form-group text-right">
              <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Add">
            </div>
          </form><b><label for="ssh-key-create">Как создать SSH-ключ</label></b>
          <p id="ssh-key-create">Вы можете быстро создать SSH-ключ, выполнив команду <code>ssh-keygen -f key -N ''</code> в терминале на вашем ПК или ВМ с UNIX-подобной ВМ.
          Эта команда сгенерирует файлы <code>key</code> и <code>key.pub</code>, которые являются вашим приватным и публичным ключом соответственно.
          Как только вы привяжете ваш <em>публичный</em> ssh-ключ к вашему аккаунту, вы сможете подключиться к задаче, используя команду <code>ssh -i key hacker@tasks.ctfd.infosec.moscow</code>.</p>
        </div>

        <div class="tab-pane fade" id="tokens" role="tabpanel">
          {% with form = Forms.self.TokensForm() %}
          <form method="POST" id="user-token-form">
            <div class="form-group">
              <b>{{ form.expiration.label }}</b>
              {{ form.expiration(class="form-control") }}
            </div>

            <div class="form-group text-right">
              {{ form.submit(class="btn btn-md btn-primary btn-outlined") }}
            </div>
          </form>
          {% endwith %}

          {% if tokens %}
          <hr>
          <h4 class="text-center">Активные токены</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <td class="text-center"><b>Создан</b></td>
                <td class="text-center"><b>Истекает</b></td>
                <td class="text-center"><b>Удалить</b></td>
              </tr>
            </thead>
            <tbody>
              {% for token in tokens %}
              <tr>
                <td><span data-time="{{ token.created | isoformat }}"></span></td>
                <td><span data-time="{{ token.expiration | isoformat }}"></span></td>
                <td class="text-center">
                  <span class="delete-token" role="button" data-token-id="{{ token.id }}">
                    <i class="btn-fa fas fa-times"></i>
                  </span>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>

        <div class="tab-pane fade" id="reset-home" role="tabpanel">
          <div class="text-center">
            <h2>Сброс домашней директории</h2>
            <p>Нажмите на кнопку ниже, чтобы очистить вашу домашнюю директорию. Очистка создаст бэкап директории, после чего удалит её. Бэкап будет доступен в <code>/home/hacker</code></p>
            <button id="reset-home-button" class="btn btn-danger">Сбросить</button>
          </div>
          <br>
          <div id="reset-home-results" class="form-group"></div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block entrypoint %}
<script defer src="{{ url_for('views.themes', path='js/pages/settings.js') }}"></script>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/settings.js') }}"></script>
{% endblock %}
